<div class="container">

  <div>
    <h1 class="text-center">Home </h1>
  </div>

  <div class="container mt-4">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Código</th>
          <th scope="col">Stock</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script src="static/js/script.js"></script>